* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

#iPhone_13_12_Pro_Max__3 {
    position: fixed;
    width: 100vw;
    height: 926px;
    background-color: rgba(36, 38, 43, 1);
    overflow: hidden;
    --web-view-name: iPhone 13, 12 Pro Max – 3;
    --web-view-id: iPhone_13_12_Pro_Max__3;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}

@keyframes fadein {

    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}

#Text {
    left: 311px;
    top: 159px;
    position: absolute;
    overflow: visible;
    width: 16px;
    height: 11px;
    text-align: center;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 49px;
    color: rgba(112, 112, 112, 1);
}

#Text_cu {
    left: 310px;
    top: 105px;
    position: absolute;
    overflow: visible;
    width: 1px;
    white-space: nowrap;
    text-align: center;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    color: rgba(251, 6, 72, 1);
}

#Text_cv {
    left: 108.98px;
    top: 348.768px;
    position: absolute;
    overflow: visible;
    width: 22px;
    height: 48px;
    text-align: center;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    color: rgba(251, 6, 72, 1);
}

#n_ {
    left: 368px;
    top: 46px;
    position: absolute;
    overflow: visible;
    width: 15px;
    white-space: nowrap;
    text-align: center;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    color: rgba(251, 6, 72, 1);
}

#Input_DISPLAY_ELEMENTSDefaultS_cx {
    position: absolute;
    width: 293.307px;
    height: 55.255px;
    left: 67.347px;
    top: 584.784px;
    overflow: visible;
}

#METADATA_cy {
    display: none;
    left: 0.49px;
    top: 1.518px;
    position: absolute;
    overflow: hidden;
    width: 11.504px;
    height: 11.511493682861328px;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 3px;
}

#Area_DISPLAY_ELEMENTSDefaultST_cz {
    fill: rgba(255, 255, 255, 0.149);
}

.Area_DISPLAY_ELEMENTSDefaultST_cz {
    position: absolute;
    overflow: visible;
    width: 70.362px;
    height: 55.255px;
    left: 72.95px;
    top: 0px;
}

#Area_DISPLAY_ELEMENTSDefaultST_c {
    fill: rgba(255, 255, 255, 0.149);
}

.Area_DISPLAY_ELEMENTSDefaultST_c {
    position: absolute;
    overflow: visible;
    width: 70.362px;
    height: 55.255px;
    left: 0px;
    top: 0px;
}

#Area_DISPLAY_ELEMENTSDefaultST_da {
    fill: rgba(255, 255, 255, 0.149);
}

.Area_DISPLAY_ELEMENTSDefaultST_da {
    position: absolute;
    overflow: visible;
    width: 129.673px;
    height: 55.255px;
    left: 163.633px;
    top: 0px;
}

#Icon_DISPLAY_ELEMENTSDefaultIC_c {
    position: absolute;
    width: 21.008px;
    height: 23.023px;
    left: 297.091px;
    top: 18.785px;
    display: none;
    overflow: visible;
}

#METADATA_c {
    display: none;
    left: 0.046px;
    top: 0px;
    position: absolute;
    overflow: hidden;
    width: 11.504px;
    height: 11.511493682861328px;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 3px;
}

#Area_DISPLAY_ELEMENTSDefaultIC_c {
    opacity: 0;
    fill: rgba(253, 73, 198, 0.349);
}

.Area_DISPLAY_ELEMENTSDefaultIC_c {
    position: absolute;
    overflow: visible;
    width: 21.007px;
    height: 23.023px;
    left: 0px;
    top: 0px;
}

#Icon_c {
    position: absolute;
    width: 21.007px;
    height: 23.023px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#ef8e54f9-747d-4b48-8c8a-bfdce0_c {
    fill: rgba(0, 0, 0, 0);
    stroke: rgba(62, 62, 62, 1);
    stroke-width: 2.222222328186035px;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.ef8e54f9-747d-4b48-8c8a-bfdce0_c {
    position: absolute;
    overflow: visible;
    width: 20.896px;
    height: 22.687px;
    left: 0px;
    top: 0px;
}

#n_67cfaa4-6806-4a79-8514-73ec7_c {
    fill: transparent;
    stroke: rgba(62, 62, 62, 1);
    stroke-width: 2.222222328186035px;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.n_67cfaa4-6806-4a79-8514-73ec7_c {
    overflow: visible;
    position: absolute;
    width: 8.216px;
    height: 8.703px;
    left: 15.931px;
    top: 17.459px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Label_c {
    display: none;
    left: 0.49px;
    top: -28.412px;
    position: absolute;
    overflow: visible;
    width: 35px;
    white-space: nowrap;
    line-height: 17px;
    margin-top: -2.5px;
    text-align: left;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 0.4px;
}

#Path_6 {
    fill: rgba(0, 0, 0, 0);
    stroke: rgba(112, 112, 112, 1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Path_6 {
    overflow: visible;
    position: absolute;
    width: 30.623px;
    height: 1px;
    left: 93.884px;
    top: 41.722px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Path_25 {
    fill: rgba(0, 0, 0, 0);
    stroke: rgba(112, 112, 112, 1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Path_25 {
    overflow: visible;
    position: absolute;
    width: 30.623px;
    height: 1px;
    left: 21.461px;
    top: 41.722px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Path_7 {
    fill: rgba(0, 0, 0, 0);
    stroke: rgba(112, 112, 112, 1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Path_7 {
    overflow: visible;
    position: absolute;
    width: 97.877px;
    height: 1px;
    left: 179.531px;
    top: 41.722px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Input_DISPLAY_ELEMENTSDefaultS_dc {
    position: absolute;
    width: 291.77px;
    height: 55.255px;
    left: 67.73px;
    top: 333.641px;
    overflow: visible;
}

#METADATA_dd {
    display: none;
    left: -280.043px;
    top: 1.518px;
    position: absolute;
    overflow: hidden;
    width: 22.515px;
    height: 11.511493682861328px;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 3px;
}

#Area_DISPLAY_ELEMENTSDefaultST_de {
    fill: rgba(255, 255, 255, 0.149);
}

.Area_DISPLAY_ELEMENTSDefaultST_de {
    position: absolute;
    overflow: visible;
    width: 291.77px;
    height: 55.255px;
    left: 0px;
    top: 0px;
}

#Icon_DISPLAY_ELEMENTSDefaultIC_df {
    position: absolute;
    width: 43.031px;
    height: 23.023px;
    left: 227.404px;
    top: 18.785px;
    display: none;
    overflow: visible;
}

#METADATA_dg {
    display: none;
    left: 0.094px;
    top: 0px;
    position: absolute;
    overflow: hidden;
    width: 22.515px;
    height: 11.511493682861328px;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 3px;
}

#Area_DISPLAY_ELEMENTSDefaultIC_dh {
    opacity: 0;
    fill: rgba(253, 73, 198, 0.349);
}

.Area_DISPLAY_ELEMENTSDefaultIC_dh {
    position: absolute;
    overflow: visible;
    width: 43.031px;
    height: 23.023px;
    left: 0px;
    top: 0px;
}

#Icon_di {
    position: absolute;
    width: 43.031px;
    height: 23.023px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#ef8e54f9-747d-4b48-8c8a-bfdce0_dj {
    fill: rgba(0, 0, 0, 0);
    stroke: rgba(62, 62, 62, 1);
    stroke-width: 2.222222328186035px;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.ef8e54f9-747d-4b48-8c8a-bfdce0_dj {
    position: absolute;
    overflow: visible;
    width: 40.472px;
    height: 22.687px;
    left: 0px;
    top: 0px;
}

#n_67cfaa4-6806-4a79-8514-73ec7_dk {
    fill: transparent;
    stroke: rgba(62, 62, 62, 1);
    stroke-width: 2.222222328186035px;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.n_67cfaa4-6806-4a79-8514-73ec7_dk {
    overflow: visible;
    position: absolute;
    width: 13.407px;
    height: 8.572px;
    left: 32.632px;
    top: 17.459px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Label_dl {
    display: none;
    left: -280.043px;
    top: -28.412px;
    position: absolute;
    overflow: visible;
    width: 35px;
    white-space: nowrap;
    line-height: 17px;
    margin-top: -2.5px;
    text-align: left;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 0.4px;
}

#Path_7_dm {
    fill: rgba(0, 0, 0, 0);
    stroke: rgba(112, 112, 112, 1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Path_7_dm {
    overflow: visible;
    position: absolute;
    width: 237.831px;
    height: 1px;
    left: 26.969px;
    top: 41.722px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#METADATA_dn {
    display: none;
    left: 75.754px;
    top: 348.518px;
    position: absolute;
    overflow: hidden;
    width: 15.339px;
    height: 11.511493682861328px;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 3px;
}

#Label_do {
    display: none;
    left: 75.754px;
    top: 318.588px;
    position: absolute;
    overflow: visible;
    width: 32px;
    white-space: nowrap;
    line-height: 16px;
    margin-top: -2.5px;
    text-align: left;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 0.4px;
}

#Group_699 {
    position: absolute;
    width: 87.159px;
    height: 55.255px;
    left: 272.96px;
    top: 457.648px;
    overflow: visible;
}

#Area_DISPLAY_ELEMENTSDefaultST_dq {
    fill: rgba(255, 255, 255, 0.149);
}

.Area_DISPLAY_ELEMENTSDefaultST_dq {
    position: absolute;
    overflow: visible;
    width: 87.159px;
    height: 55.255px;
    left: 0px;
    top: 0px;
}

#Value_dr {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.529));
    left: 18.5px;
    top: 16px;
    position: absolute;
    overflow: visible;
    width: 53px;
    white-space: nowrap;
    text-align: center;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
}

#Component_3__1 {
    position: absolute;
    width: 87.159px;
    height: 55.255px;
    left: 67.881px;
    top: 457.648px;
    overflow: visible;
}

#Area_DISPLAY_ELEMENTSDefaultST_dt {
    fill: rgba(255, 255, 255, 0.149);
}

.Area_DISPLAY_ELEMENTSDefaultST_dt {
    position: absolute;
    overflow: visible;
    width: 87.159px;
    height: 55.255px;
    left: 0px;
    top: 0px;
}

#Icon_ionic-md-male_dv {
    fill: url(#Icon_ionic-md-male_dv);
}

.Icon_ionic-md-male_dv {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.529));
    overflow: visible;
    position: absolute;
    width: 47.25px;
    height: 47.25px;
    left: 29px;
    top: 13px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Component_4__1 {
    position: absolute;
    width: 87.159px;
    height: 55.255px;
    left: 170.421px;
    top: 457.648px;
    overflow: visible;
}

#Area_DISPLAY_ELEMENTSDefaultST_dx {
    fill: rgba(255, 255, 255, 0.149);
}

.Area_DISPLAY_ELEMENTSDefaultST_dx {
    position: absolute;
    overflow: visible;
    width: 87.159px;
    height: 55.255px;
    left: 0px;
    top: 0px;
}

#Icon_ionic-md-female_dz {
    fill: url(#Icon_ionic-md-female_dz);
}

.Icon_ionic-md-female_dz {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.529));
    overflow: visible;
    position: absolute;
    width: 38.25px;
    height: 49.5px;
    left: 33.453px;
    top: 11.878px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Input_DISPLAY_ELEMENTSDefaultS_d {
    position: absolute;
    width: 1px;
    height: 1px;
    left: -1405px;
    top: -10px;
    overflow: visible;
}

#METADATA_d {
    display: none;
    left: 1632px;
    top: 465.518px;
    position: absolute;
    overflow: hidden;
    width: 28.363px;
    height: 11.511493682861328px;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 3px;
}

#Icon_DISPLAY_ELEMENTSDefaultIC_d {
    position: absolute;
    width: 54.727px;
    height: 23.023px;
    left: 2318.572px;
    top: 482.785px;
    display: none;
    overflow: visible;
}

#METADATA_ea {
    display: none;
    left: 0.119px;
    top: 0px;
    position: absolute;
    overflow: hidden;
    width: 28.363px;
    height: 11.511493682861328px;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 3px;
}

#Area_DISPLAY_ELEMENTSDefaultIC_d {
    opacity: 0;
    fill: rgba(253, 73, 198, 0.349);
}

.Area_DISPLAY_ELEMENTSDefaultIC_d {
    position: absolute;
    overflow: visible;
    width: 54.727px;
    height: 23.023px;
    left: 0px;
    top: 0px;
}

#Icon_d {
    position: absolute;
    width: 54.727px;
    height: 23.023px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#ef8e54f9-747d-4b48-8c8a-bfdce0_d {
    fill: rgba(0, 0, 0, 0);
    stroke: rgba(62, 62, 62, 1);
    stroke-width: 2.222222328186035px;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.ef8e54f9-747d-4b48-8c8a-bfdce0_d {
    position: absolute;
    overflow: visible;
    width: 50.868px;
    height: 22.687px;
    left: 0px;
    top: 0px;
}

#n_67cfaa4-6806-4a79-8514-73ec7_d {
    fill: transparent;
    stroke: rgba(62, 62, 62, 1);
    stroke-width: 2.222222328186035px;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.n_67cfaa4-6806-4a79-8514-73ec7_d {
    overflow: visible;
    position: absolute;
    width: 16.136px;
    height: 8.474px;
    left: 41.501px;
    top: 17.459px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Label_d {
    display: none;
    left: 1632px;
    top: 435.588px;
    position: absolute;
    overflow: visible;
    width: 41px;
    white-space: nowrap;
    line-height: 20px;
    margin-top: -3px;
    text-align: left;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 0.4px;
}

#Title_PLATFORMMOBILETAGH4_d {
    left: 101.802px;
    top: 202.88px;
    position: absolute;
    overflow: visible;
    width: 226px;
    white-space: nowrap;
    line-height: 36px;
    margin-top: -4.5px;
    text-align: center;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    color: rgba(251, 6, 72, 1);
}

#Group_2 {
    position: absolute;
    width: 83.13px;
    height: 34px;
    left: 310px;
    top: 792px;
    overflow: visible;
    --web-animation: fadein 0.30000001192092896s linear;
    --web-action-type: page;
    cursor: pointer;
}

#Button_DISPLAY_ELEMENTSLabelSI_eb {
    position: absolute;
    width: 64px;
    height: 34px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#METADATA_ec {
    display: none;
    left: -393.574px;
    top: -22.734px;
    position: absolute;
    overflow: hidden;
    width: 18.487px;
    height: 17.487342834472656px;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 3px;
}

#Label_ed {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 65px;
    white-space: nowrap;
    text-align: center;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: rgba(247, 43, 163, 1);
}

#Icon_DISPLAY_ELEMENTSLabelICON_ee {
    position: absolute;
    width: 34.975px;
    height: 34.975px;
    left: 33.117px;
    top: 1.749px;
    display: none;
    overflow: visible;
}

#METADATA_ef {
    display: none;
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: hidden;
    width: 18.487px;
    height: 17.487342834472656px;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 3px;
}

#Area_DISPLAY_ELEMENTSLabelICON_eg {
    opacity: 0;
    fill: rgba(252, 252, 252, 1);
}

.Area_DISPLAY_ELEMENTSLabelICON_eg {
    position: absolute;
    overflow: visible;
    width: 34.975px;
    height: 34.975px;
    left: 0px;
    top: 0px;
}

#Icon_eh {
    position: absolute;
    width: 34.975px;
    height: 30.505px;
    left: 0px;
    top: 2.235px;
    overflow: visible;
}

#n_d6cf638-3367-4977-bdc6-86433_ei {
    fill: rgba(0, 0, 0, 0);
    stroke: rgba(250, 23, 114, 1);
    stroke-width: 1.9135938882827759px;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.n_d6cf638-3367-4977-bdc6-86433_ei {
    overflow: visible;
    position: absolute;
    width: 36.889px;
    height: 32.419px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Icon_ionic-ios-arrow-down_ek {
    fill: url(#Icon_ionic-ios-arrow-down_ek);
}

.Icon_ionic-ios-arrow-down_ek {
    overflow: visible;
    position: absolute;
    width: 17.717px;
    height: 10.13px;
    transform: translate(-268.031px, -613px) matrix(1, 0, 0, 1, 337.2372, 627.7934) rotate(-90deg);
    transform-origin: center;
    left: 0px;
    top: 0px;
}

#Create_an_account_PLATFORMMOBI {
    left: 42px;
    top: 253.76px;
    position: absolute;
    overflow: visible;
    width: 345px;
    white-space: nowrap;
    text-align: center;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
}

#Create_an_account_PLATFORMMOBI_em {
    left: 179px;
    top: 418.648px;
    position: absolute;
    overflow: visible;
    width: 71px;
    white-space: nowrap;
    text-align: center;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
}

#Create_an_account_PLATFORMMOBI_en {
    left: 173.5px;
    top: 545.784px;
    position: absolute;
    overflow: visible;
    width: 82px;
    white-space: nowrap;
    text-align: left;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
}

#Create_an_account_PLATFORMMOBI_eo {
    left: 185px;
    top: 294.641px;
    position: absolute;
    overflow: visible;
    width: 59px;
    white-space: nowrap;
    text-align: left;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
}

#Rectangle_43 {
    opacity: 0.5;
    fill: rgba(121, 123, 129, 1);
}

.Rectangle_43 {
    position: absolute;
    overflow: visible;
    width: 394px;
    height: 7px;
    left: 17px;
    top: 851px;
}

#Rectangle_46_er {
    fill: url(#Rectangle_46_er);
}

.Rectangle_46_er {
    position: absolute;
    overflow: visible;
    width: 272px;
    height: 9px;
    left: 17px;
    top: 850px;
}