* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

#iPhone_13_12_Pro_Max__18 {
    position: fixed;
    width: 100vw;
    height: 926px;
    background-color: rgba(36, 38, 43, 1);
    overflow: hidden;
    --web-view-name: iPhone 13, 12 Pro Max – 18;
    --web-view-id: iPhone_13_12_Pro_Max__18;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}

@keyframes fadein {

    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}

#Rectangle_52_bma {
    opacity: 0.5;
    fill: url(#Rectangle_52_bma);
}

.Rectangle_52_bma {
    position: absolute;
    overflow: visible;
    width: 428px;
    height: 73px;
    left: 0px;
    top: 853px;
}

#Rectangle_50_bma {
    fill: url(#Rectangle_50_bma);
}

.Rectangle_50_bma {
    position: absolute;
    overflow: visible;
    width: 160px;
    height: 73px;
    left: 134px;
    top: 853px;
}

#Group_5_bl {
    position: absolute;
    width: 342.028px;
    height: 45.638px;
    left: 43px;
    top: 867px;
    overflow: visible;
}

#Path_15_bl {
    fill: rgba(255, 255, 255, 1);
}

.Path_15_bl {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    overflow: visible;
    position: absolute;
    width: 50.913px;
    height: 50.913px;
    left: 309.115px;
    top: 6px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Path_16_bl {
    fill: rgba(255, 255, 255, 1);
    stroke: rgba(255, 255, 255, 1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Path_16_bl {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    overflow: visible;
    position: absolute;
    width: 49.941px;
    height: 52.922px;
    left: 0px;
    top: 5.5px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Icon_awesome-user-friends_bl {
    fill: rgba(255, 255, 255, 1);
}

.Icon_awesome-user-friends_bl {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    overflow: visible;
    position: absolute;
    width: 83.197px;
    height: 63.638px;
    left: 137.43px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Intersection_4_bl {
    fill: url(#Intersection_4_bl);
}

.Intersection_4_bl {
    overflow: visible;
    position: absolute;
    width: 315.467px;
    height: 26.999px;
    left: 53.331px;
    top: 350.48px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Group_691_bma {
    position: absolute;
    width: 166px;
    height: 61px;
    left: 131px;
    top: 649px;
    overflow: visible;
    transition: all 0.30000001192092896s linear;
    --web-animation: fadein 0.30000001192092896s linear;
    --web-action-type: page;
    cursor: pointer;
}

#Group_692 {
    position: absolute;
    width: 166px;
    height: 61px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#Rectangle_396_bmc {
    fill: rgba(87, 83, 83, 1);
}

.Rectangle_396_bmc {
    position: absolute;
    overflow: visible;
    width: 166px;
    height: 61px;
    left: 0px;
    top: 0px;
}

#Create_an_account_PLATFORMMOBI_bmd {
    left: 29.248px;
    top: 22px;
    position: absolute;
    overflow: visible;
    width: 103px;
    height: 19px;
    text-align: center;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
}

#Input_DISPLAY_ELEMENTSDefaultS_bme {
    position: absolute;
    width: 303.079px;
    height: 55.255px;
    left: 65.46px;
    top: 407.745px;
    overflow: visible;
}

#METADATA_bmf {
    display: none;
    left: -319.604px;
    top: 1.518px;
    position: absolute;
    overflow: hidden;
    width: 22.515px;
    height: 11.511493682861328px;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 3px;
}

#Area_DISPLAY_ELEMENTSDefaultST_bmg {
    fill: rgba(255, 255, 255, 0.149);
}

.Area_DISPLAY_ELEMENTSDefaultST_bmg {
    position: absolute;
    overflow: visible;
    width: 303.079px;
    height: 55.255px;
    left: 0px;
    top: 0px;
}

#Icon_DISPLAY_ELEMENTSDefaultIC_bmh {
    position: absolute;
    width: 43.031px;
    height: 23.023px;
    left: 220.233px;
    top: 18.785px;
    display: none;
    overflow: visible;
}

#METADATA_bmi {
    display: none;
    left: 0.094px;
    top: 0px;
    position: absolute;
    overflow: hidden;
    width: 22.515px;
    height: 11.511493682861328px;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 3px;
}

#Area_DISPLAY_ELEMENTSDefaultIC_bmj {
    opacity: 0;
    fill: rgba(253, 73, 198, 0.349);
}

.Area_DISPLAY_ELEMENTSDefaultIC_bmj {
    position: absolute;
    overflow: visible;
    width: 43.031px;
    height: 23.023px;
    left: 0px;
    top: 0px;
}

#Icon_bmk {
    position: absolute;
    width: 43.031px;
    height: 23.023px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#ef8e54f9-747d-4b48-8c8a-bfdce0_bml {
    fill: rgba(0, 0, 0, 0);
    stroke: rgba(62, 62, 62, 1);
    stroke-width: 2.222222328186035px;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.ef8e54f9-747d-4b48-8c8a-bfdce0_bml {
    position: absolute;
    overflow: visible;
    width: 40.472px;
    height: 22.687px;
    left: 0px;
    top: 0px;
}

#n_67cfaa4-6806-4a79-8514-73ec7_bmm {
    fill: transparent;
    stroke: rgba(62, 62, 62, 1);
    stroke-width: 2.222222328186035px;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.n_67cfaa4-6806-4a79-8514-73ec7_bmm {
    overflow: visible;
    position: absolute;
    width: 13.407px;
    height: 8.572px;
    left: 32.632px;
    top: 17.459px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Label_bmn {
    display: none;
    left: -319.604px;
    top: -28.412px;
    position: absolute;
    overflow: visible;
    width: 35px;
    white-space: nowrap;
    line-height: 17px;
    margin-top: -2.5px;
    text-align: left;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 0.4px;
}

#Path_7_bmo {
    fill: rgba(0, 0, 0, 0);
    stroke: rgba(112, 112, 112, 1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Path_7_bmo {
    overflow: visible;
    position: absolute;
    width: 249.14px;
    height: 1px;
    left: 26.97px;
    top: 41.722px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Group_3 {
    position: absolute;
    width: 84.129px;
    height: 34px;
    left: 38px;
    top: 792px;
    overflow: visible;
    --web-animation: fadein 0.30000001192092896s linear;
    --web-action-type: page;
    cursor: pointer;
}

#Button_DISPLAY_ELEMENTSLabelSI_bmq {
    position: absolute;
    width: 66px;
    height: 34px;
    left: 18.129px;
    top: 0px;
    overflow: visible;
}

#METADATA_bmr {
    display: none;
    left: -392.572px;
    top: -22.734px;
    position: absolute;
    overflow: hidden;
    width: 18.487px;
    height: 17.487342834472656px;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 3px;
}

#Label_bms {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 67px;
    white-space: nowrap;
    text-align: center;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: rgba(247, 43, 163, 1);
}

#Icon_DISPLAY_ELEMENTSLabelICON_bmt {
    position: absolute;
    width: 34.975px;
    height: 34.975px;
    left: 34.118px;
    top: 1.749px;
    display: none;
    overflow: visible;
}

#METADATA_bmu {
    display: none;
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: hidden;
    width: 18.487px;
    height: 17.487342834472656px;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 3px;
}

#Area_DISPLAY_ELEMENTSLabelICON_bmv {
    opacity: 0;
    fill: rgba(252, 252, 252, 1);
}

.Area_DISPLAY_ELEMENTSLabelICON_bmv {
    position: absolute;
    overflow: visible;
    width: 34.975px;
    height: 34.975px;
    left: 0px;
    top: 0px;
}

#Icon_bmw {
    position: absolute;
    width: 34.975px;
    height: 30.505px;
    left: 0px;
    top: 2.235px;
    overflow: visible;
}

#n_d6cf638-3367-4977-bdc6-86433_bmx {
    fill: rgba(0, 0, 0, 0);
    stroke: rgba(250, 23, 114, 1);
    stroke-width: 1.9135938882827759px;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.n_d6cf638-3367-4977-bdc6-86433_bmx {
    overflow: visible;
    position: absolute;
    width: 36.889px;
    height: 32.419px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Icon_ionic-ios-arrow-down_bmz {
    fill: url(#Icon_ionic-ios-arrow-down_bmz);
}

.Icon_ionic-ios-arrow-down_bmz {
    overflow: visible;
    position: absolute;
    width: 17.717px;
    height: 10.13px;
    transform: translate(0px, 0px) matrix(1, 0, 0, 1, -3.7934, 14.7934) rotate(-90deg);
    transform-origin: center;
    left: 0px;
    top: 0px;
}