* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
#iPhone_13_12_Pro_Max__13 {
    position: fixed;
    width: 100vw;
    height: 926px;
    background-color: rgba(36,38,43,1);
    overflow: hidden;
    --web-view-name: iPhone 13, 12 Pro Max – 13;
    --web-view-id: iPhone_13_12_Pro_Max__13;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
@keyframes fadein {

    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}
#Rectangle_19_bor {
    fill: rgba(59,57,57,1);
}
.Rectangle_19_bor {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
    width: 361px;
    height: 86px;
    left: 43px;
    top: 411px;
}
#Rectangle_38_bos {
    fill: rgba(87,83,83,1);
}
.Rectangle_38_bos {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
    width: 254px;
    height: 75px;
    left: 96px;
    top: 417px;
}
#Rectangle_48_bot {
    opacity: 0.5;
    fill: rgba(121,123,129,1);
}
.Rectangle_48_bot {
    position: absolute;
    overflow: visible;
    width: 394px;
    height: 7px;
    left: 17px;
    top: 850px;
}
#Rectangle_49_bov {
    fill: url(#Rectangle_49_bov);
}
.Rectangle_49_bov {
    position: absolute;
    overflow: visible;
    width: 394px;
    height: 9px;
    left: 17px;
    top: 849px;
}
#Create_an_account_PLATFORMMOBI_bow {
    left: 98.187px;
    top: 573.38px;
    position: absolute;
    overflow: visible;
    width: 87px;
    white-space: nowrap;
    text-align: center;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: rgba(255,255,255,1);
}
#Create_an_account_PLATFORMMOBI_box {
    left: 23.226px;
    top: 637.38px;
    position: absolute;
    overflow: visible;
    width: 63px;
    white-space: nowrap;
    text-align: center;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: rgba(255,255,255,1);
}
#Create_an_account_PLATFORMMOBI_boy {
    left: 158px;
    top: 637.38px;
    position: absolute;
    overflow: visible;
    width: 113px;
    white-space: nowrap;
    text-align: center;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: rgba(255,255,255,1);
}
#Create_an_account_PLATFORMMOBI_boz {
    left: 345.435px;
    top: 637.38px;
    position: absolute;
    overflow: visible;
    width: 49px;
    white-space: nowrap;
    text-align: center;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: rgba(255,255,255,1);
}
#Create_an_account_PLATFORMMOBI_bo {
    left: 257.187px;
    top: 573.38px;
    position: absolute;
    overflow: visible;
    width: 65px;
    white-space: nowrap;
    text-align: center;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: rgba(255,255,255,1);
}
#Create_an_account_PLATFORMMOBI_bpa {
    left: 95.5px;
    top: 325.703px;
    position: absolute;
    overflow: visible;
    width: 117px;
    white-space: nowrap;
    text-align: center;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: rgba(255,255,255,1);
}
#Create_an_account_PLATFORMMOBI_bpb {
    left: 233.248px;
    top: 325.703px;
    position: absolute;
    overflow: visible;
    width: 103px;
    white-space: nowrap;
    text-align: center;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: rgba(255,255,255,1);
}
#Icon_awesome-check_bpa {
    fill: url(#Icon_awesome-check_bpa);
}
.Icon_awesome-check_bpa {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    overflow: visible;
    position: absolute;
    width: 44.996px;
    height: 38.131px;
    left: 342.141px;
    top: 434.934px;
    transform: matrix(1,0,0,1,0,0);
}
#Icon_metro-cross_bpa {
    fill: url(#Icon_metro-cross_bpa);
}
.Icon_metro-cross_bpa {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    overflow: visible;
    position: absolute;
    width: 41.133px;
    height: 41.133px;
    left: 62.726px;
    top: 433.934px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_8_bpa {
    fill: url(#Path_8_bpa);
}
.Path_8_bpa {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.478));
    overflow: visible;
    position: absolute;
    width: 54.627px;
    height: 54.63px;
    left: 265.934px;
    top: 427px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_9_bpa {
    fill: url(#Path_9_bpa);
}
.Path_9_bpa {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.478));
    overflow: visible;
    position: absolute;
    width: 36.627px;
    height: 36.63px;
    transform: matrix(1,0,0,1,125.373,427) rotate(180deg);
    transform-origin: center;
    left: 0px;
    top: 0px;
}
#Ellipse_1 {
    fill: rgba(255,255,255,1);
}
.Ellipse_1 {
    position: absolute;
    overflow: visible;
    width: 5px;
    height: 5px;
    left: 138.687px;
    top: 437px;
}
#Ellipse_2 {
    fill: rgba(255,255,255,1);
}
.Ellipse_2 {
    position: absolute;
    overflow: visible;
    width: 5px;
    height: 5px;
    left: 286.687px;
    top: 449.672px;
}
#Ellipse_3 {
    fill: rgba(255,255,255,1);
}
.Ellipse_3 {
    position: absolute;
    overflow: visible;
    width: 5px;
    height: 5px;
    left: 349.847px;
    top: 436.764px;
}
#Ellipse_4 {
    fill: rgba(255,255,255,1);
}
.Ellipse_4 {
    position: absolute;
    overflow: visible;
    width: 5px;
    height: 5px;
    left: 72.337px;
    top: 431.434px;
}
#Path_10 {
    fill: rgba(0,0,0,0);
    stroke: rgba(255,255,255,1);
    stroke-width: 1px;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Path_10 {
    overflow: visible;
    position: absolute;
    width: 1px;
    height: 125.495px;
    left: 141.187px;
    top: 440.5px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_12 {
    fill: rgba(0,0,0,0);
    stroke: rgba(255,255,255,1);
    stroke-width: 1px;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Path_12 {
    overflow: visible;
    position: absolute;
    width: 79.663px;
    height: 82.325px;
    left: 74.837px;
    top: 351.087px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_13 {
    fill: rgba(0,0,0,0);
    stroke: rgba(255,255,255,1);
    stroke-width: 1px;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Path_13 {
    overflow: visible;
    position: absolute;
    width: 69.1px;
    height: 89.177px;
    left: 284.248px;
    top: 351.087px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_11 {
    fill: rgba(0,0,0,0);
    stroke: rgba(255,255,255,1);
    stroke-width: 1px;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Path_11 {
    overflow: visible;
    position: absolute;
    width: 1px;
    height: 113.824px;
    left: 289.187px;
    top: 452.172px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_3_bpj {
    position: absolute;
    width: 83.13px;
    height: 34px;
    left: 327.87px;
    top: 792px;
    overflow: visible;
    --web-animation: fadein 0.30000001192092896s linear;
    --web-action-type: page;
    cursor: pointer;
}
#Button_DISPLAY_ELEMENTSLabelSI_bpk {
    position: absolute;
    width: 64px;
    height: 34px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#METADATA_bpl {
    display: none;
    left: -393.573px;
    top: -22.734px;
    position: absolute;
    overflow: hidden;
    width: 18.487px;
    height: 17.487342834472656px;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 3px;
}
#Label_bpm {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 65px;
    white-space: nowrap;
    text-align: center;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: rgba(247,43,163,1);
}
#Icon_DISPLAY_ELEMENTSLabelICON_bpn {
    position: absolute;
    width: 34.975px;
    height: 34.975px;
    left: 33.117px;
    top: 1.749px;
    display: none;
    overflow: visible;
}
#METADATA_bpo {
    display: none;
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: hidden;
    width: 18.487px;
    height: 17.487342834472656px;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 3px;
}
#Area_DISPLAY_ELEMENTSLabelICON_bpp {
    opacity: 0;
    fill: rgba(252,252,252,1);
}
.Area_DISPLAY_ELEMENTSLabelICON_bpp {
    position: absolute;
    overflow: visible;
    width: 34.975px;
    height: 34.975px;
    left: 0px;
    top: 0px;
}
#Icon_bpq {
    position: absolute;
    width: 34.975px;
    height: 30.505px;
    left: 0px;
    top: 2.235px;
    overflow: visible;
}
#n_d6cf638-3367-4977-bdc6-86433_bpr {
    fill: rgba(0,0,0,0);
    stroke: rgba(250,23,114,1);
    stroke-width: 1.9135938882827759px;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.n_d6cf638-3367-4977-bdc6-86433_bpr {
    overflow: visible;
    position: absolute;
    width: 36.889px;
    height: 32.419px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Icon_ionic-ios-arrow-down_bpt {
    fill: url(#Icon_ionic-ios-arrow-down_bpt);
}
.Icon_ionic-ios-arrow-down_bpt {
    overflow: visible;
    position: absolute;
    width: 17.717px;
    height: 10.13px;
    transform: translate(-268.031px, -613px) matrix(1,0,0,1,337.2372,627.7934) rotate(-90deg);
    transform-origin: center;
    left: 0px;
    top: 0px;
}
#Rectangle_50_bpv {
    fill: url(#Rectangle_50_bpv);
}
.Rectangle_50_bpv {
    position: absolute;
    overflow: visible;
    width: 428px;
    height: 73px;
    left: 0px;
    top: 696px;
}
#Group_5_bpw {
    position: absolute;
    width: 342.028px;
    height: 45.638px;
    left: 43px;
    top: 710px;
    overflow: visible;
}
#Path_15_bpx {
    fill: rgba(255,255,255,1);
}
.Path_15_bpx {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    overflow: visible;
    position: absolute;
    width: 50.913px;
    height: 50.913px;
    left: 309.115px;
    top: 6px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_16_bpy {
    fill: rgba(255,255,255,1);
    stroke: rgba(255,255,255,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Path_16_bpy {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    overflow: visible;
    position: absolute;
    width: 49.941px;
    height: 52.922px;
    left: 0px;
    top: 5.5px;
    transform: matrix(1,0,0,1,0,0);
}
#Icon_awesome-user-friends_bpz {
    fill: rgba(255,255,255,1);
}
.Icon_awesome-user-friends_bpz {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    overflow: visible;
    position: absolute;
    width: 83.197px;
    height: 63.638px;
    left: 137.43px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_6 {
    position: absolute;
    width: 5px;
    height: 52.098px;
    left: 51.726px;
    top: 663.898px;
    overflow: visible;
}
#Ellipse_5 {
    fill: rgba(255,255,255,1);
}
.Ellipse_5 {
    width: 5px;
    height: 5px;
    position: absolute;
    overflow: visible;
    transform: translate(-62.726px, -604.898px) matrix(1,0,0,1,62.7263,651.9955) rotate(180deg);
    transform-origin: center;
}
#Path_17 {
    fill: rgba(0,0,0,0);
    stroke: rgba(255,255,255,1);
    stroke-width: 1px;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Path_17 {
    overflow: visible;
    position: absolute;
    width: 1px;
    height: 48.598px;
    transform: translate(-62.726px, -604.898px) matrix(1,0,0,1,65.2263,604.8979) rotate(180deg);
    transform-origin: center;
    left: 0px;
    top: 0px;
}
#Group_7 {
    position: absolute;
    width: 5px;
    height: 52.098px;
    left: 211.5px;
    top: 663.898px;
    overflow: visible;
}
#Ellipse_5_bp {
    fill: rgba(255,255,255,1);
}
.Ellipse_5_bp {
    width: 5px;
    height: 5px;
    position: absolute;
    overflow: visible;
    transform: translate(-62.726px, -604.898px) matrix(1,0,0,1,62.7263,651.9955) rotate(180deg);
    transform-origin: center;
}
#Path_17_bp {
    fill: rgba(0,0,0,0);
    stroke: rgba(255,255,255,1);
    stroke-width: 1px;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Path_17_bp {
    overflow: visible;
    position: absolute;
    width: 1px;
    height: 48.598px;
    transform: translate(-62.726px, -604.898px) matrix(1,0,0,1,65.2263,604.8979) rotate(180deg);
    transform-origin: center;
    left: 0px;
    top: 0px;
}
#Group_8 {
    position: absolute;
    width: 5px;
    height: 49.084px;
    left: 366.935px;
    top: 663.898px;
    overflow: visible;
}
#Ellipse_5_bqa {
    fill: rgba(255,255,255,1);
}
.Ellipse_5_bqa {
    width: 5px;
    height: 5px;
    position: absolute;
    overflow: visible;
    transform: translate(-62.726px, -604.898px) matrix(1,0,0,1,62.7263,648.9818) rotate(180deg);
    transform-origin: center;
}
#Path_17_bqa {
    fill: rgba(0,0,0,0);
    stroke: rgba(255,255,255,1);
    stroke-width: 1px;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Path_17_bqa {
    overflow: visible;
    position: absolute;
    width: 1px;
    height: 45.584px;
    transform: translate(-62.726px, -604.898px) matrix(1,0,0,1,65.2263,604.8979) rotate(180deg);
    transform-origin: center;
    left: 0px;
    top: 0px;
}
#Title_PLATFORMMOBILETAGH4_bp {
    left: 119px;
    top: 198.823px;
    position: absolute;
    overflow: visible;
    width: 191px;
    white-space: nowrap;
    line-height: 36px;
    margin-top: -4.5px;
    text-align: center;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    color: rgba(251,6,72,1);
}
#Create_an_account_PLATFORMMOBI_bqa {
    left: 26px;
    top: 242.703px;
    position: absolute;
    overflow: visible;
    width: 377px;
    white-space: nowrap;
    text-align: center;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: rgba(255,255,255,1);
}