* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

#iPhone_13_12_Pro_Max__21 {
    position: fixed;
    width: 100vw;
    height: 926px;
    background-color: rgba(36, 38, 43, 1);
    overflow: hidden;
    cursor: pointer;
    --web-view-name: iPhone 13, 12 Pro Max – 21;
    --web-view-id: iPhone_13_12_Pro_Max__21;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}

@keyframes fadein {

    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}

#Rectangle_39_gj {
    opacity: 0.19;
    fill: rgba(200, 202, 207, 1);
}

.Rectangle_39_gj {
    position: absolute;
    overflow: visible;
    width: 301px;
    height: 459px;
    left: 58px;
    top: 163px;
}

#Path_23 {
    opacity: 0.6;
    fill: rgba(121, 123, 129, 1);
}

.Path_23 {
    overflow: visible;
    position: absolute;
    width: 301px;
    height: 459px;
    left: 64px;
    top: 168px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Rectangle_19_gl {
    fill: rgba(59, 57, 57, 1);
}

.Rectangle_19_gl {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
    width: 415px;
    height: 96px;
    left: 16px;
    top: 696px;
}

#Rectangle_48_gm {
    opacity: 0.5;
    fill: rgba(121, 123, 129, 1);
}

.Rectangle_48_gm {
    position: absolute;
    overflow: visible;
    width: 394px;
    height: 7px;
    left: 17px;
    top: 850px;
}

#Rectangle_49_go {
    fill: url(#Rectangle_49_go);
}

.Rectangle_49_go {
    position: absolute;
    overflow: visible;
    width: 332px;
    height: 9px;
    left: 17px;
    top: 849px;
}

#Title_PLATFORMMOBILETAGH4_gp {
    left: 69px;
    top: 45.56px;
    position: absolute;
    overflow: visible;
    width: 291px;
    white-space: nowrap;
    line-height: 36px;
    margin-top: -4.5px;
    text-align: center;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    color: rgba(251, 6, 72, 1);
}

#Create_an_account_PLATFORMMOBI_gq {
    left: 61px;
    top: 89.44px;
    position: absolute;
    overflow: visible;
    width: 307px;
    white-space: nowrap;
    text-align: center;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
}

#Rectangle_38_gr {
    fill: rgba(87, 83, 83, 1);
}

.Rectangle_38_gr {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
    width: 292px;
    height: 85px;
    left: 77px;
    top: 702px;
}

#Icon_awesome-check_gt {
    fill: url(#Icon_awesome-check_gt);
}

.Icon_awesome-check_gt {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    overflow: visible;
    position: absolute;
    width: 54px;
    height: 44.846px;
    left: 284px;
    top: 722px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Icon_metro-cross_gv {
    fill: url(#Icon_metro-cross_gv);
}

.Icon_metro-cross_gv {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    overflow: visible;
    position: absolute;
    width: 48.848px;
    height: 48.849px;
    left: 114.485px;
    top: 720px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Image_1 {
    position: absolute;
    width: 300px;
    height: 460px;
    left: 72px;
    top: 174px;
    overflow: visible;
}

#Rectangle_404 {
    fill: transparent;
}

.Rectangle_404 {
    position: absolute;
    overflow: visible;
    width: 71px;
    height: 67px;
    left: 94px;
    top: 702px;
    --web-animation: fadein 0.30000001192092896s linear;
    --web-action-type: page;
    cursor: pointer;
}