* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

#iPhone_13_12_Pro_Max__2 {
    position: fixed;
    width: 100vw;
    height: 926px;
    background-color: rgba(36, 38, 43, 1);
    overflow: hidden;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#Text_eu {
    left: 69px;
    top: 98px;
    position: absolute;
    overflow: visible;
    width: 1px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(112, 112, 112, 1);
}

#Button_DISPLAY_ELEMENTSLabelSI_ev {
    position: absolute;
    width: 322.322px;
    height: 55.255px;
    left: 52.839px;
    top: 628.865px;
    overflow: visible;
    --web-animation: fadein 0.30000001192092896s ease-out;
    --web-action-type: page;
    cursor: pointer;
}

#METADATA_ew {
    display: none;
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: hidden;
    width: 12.511px;
    height: 11.511493682861328px;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 3px;
}

#Area_DISPLAY_ELEMENTSLabelSIZE_ey {
    fill: url(#Area_DISPLAY_ELEMENTSLabelSIZE_ey);
}

.Area_DISPLAY_ELEMENTSLabelSIZE_ey {
    position: absolute;
    overflow: visible;
    width: 322.322px;
    height: 55.255px;
    left: 0px;
    top: 0px;
}

#Label_ez {
    left: 130.08px;
    top: 14.965px;
    position: absolute;
    overflow: visible;
    width: 61px;
    white-space: nowrap;
    text-align: center;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
}

#Icon_DISPLAY_ELEMENTSLabelICON_e {
    position: absolute;
    width: 23.023px;
    height: 23.023px;
    left: 280.88px;
    top: 16.116px;
    display: none;
    overflow: visible;
}

#METADATA_e {
    display: none;
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: hidden;
    width: 12.511px;
    height: 11.511493682861328px;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 3px;
}

#Area_DISPLAY_ELEMENTSLabelICON_e {
    opacity: 0;
    fill: rgba(252, 252, 252, 1);
}

.Area_DISPLAY_ELEMENTSLabelICON_e {
    position: absolute;
    overflow: visible;
    width: 23.023px;
    height: 23.023px;
    left: 0px;
    top: 0px;
}

#Icon_e {
    position: absolute;
    width: 23.023px;
    height: 20.081px;
    left: 0px;
    top: 1.471px;
    overflow: visible;
}

#n_d6cf638-3367-4977-bdc6-86433_e {
    fill: rgba(0, 0, 0, 0);
    stroke: rgba(250, 23, 114, 1);
    stroke-width: 1.9135938882827759px;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.n_d6cf638-3367-4977-bdc6-86433_e {
    overflow: visible;
    position: absolute;
    width: 24.937px;
    height: 21.994px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Checkbox_DISPLAY_ELEMENTSLabel_e {
    position: absolute;
    width: 215.168px;
    height: 33.628px;
    left: 54.416px;
    top: 480.756px;
    overflow: visible;
}

#METADATA_fa {
    display: none;
    left: -1.087px;
    top: -0.942px;
    position: absolute;
    overflow: hidden;
    width: 12.511px;
    height: 11.511493682861328px;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 3px;
}

#Area_DISPLAY_ELEMENTSDefaultST_e {
    fill: rgba(255, 255, 255, 0.149);
}

.Area_DISPLAY_ELEMENTSDefaultST_e {
    overflow: visible;
    position: absolute;
    width: 34.322px;
    height: 33.628px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Label_e {
    left: 54.168px;
    top: 4.814px;
    position: absolute;
    overflow: visible;
    width: 162px;
    white-space: nowrap;
    text-align: left;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
}

#Check_DISPLAY_ELEMENTSLabelSTA_e {
    fill: transparent;
    stroke: rgba(255, 255, 255, 1);
    stroke-width: 2px;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Check_DISPLAY_ELEMENTSLabelSTA_e {
    overflow: visible;
    position: absolute;
    width: 15.49px;
    height: 7.32px;
    transform: translate(-1.087px, -0.942px) matrix(1, 0, 0, 1, 11.2555, 11.5329) rotate(-45deg);
    transform-origin: center;
    left: 0px;
    top: 0px;
}

#Input_DISPLAY_ELEMENTSDefaultS_fa {
    position: absolute;
    width: 322.322px;
    height: 55.255px;
    left: 52.839px;
    top: 407.745px;
    overflow: visible;
}

#METADATA_fb {
    display: none;
    left: 0px;
    top: 0.663px;
    position: absolute;
    overflow: hidden;
    width: 12.511px;
    height: 11.511493682861328px;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 3px;
}

#Icon_DISPLAY_ELEMENTSDefaultIC_fc {
    position: absolute;
    width: 23.023px;
    height: 23.023px;
    left: 283.183px;
    top: 17.93px;
    display: none;
    overflow: visible;
}

#METADATA_fd {
    display: none;
    left: 0.05px;
    top: 0px;
    position: absolute;
    overflow: hidden;
    width: 12.511px;
    height: 11.511493682861328px;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 3px;
}

#Area_DISPLAY_ELEMENTSDefaultIC_fe {
    opacity: 0;
    fill: rgba(253, 73, 198, 0.349);
}

.Area_DISPLAY_ELEMENTSDefaultIC_fe {
    position: absolute;
    overflow: visible;
    width: 23.023px;
    height: 23.023px;
    left: 0px;
    top: 0px;
}

#Icon_ff {
    position: absolute;
    width: 23.023px;
    height: 23.023px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#ef8e54f9-747d-4b48-8c8a-bfdce0_fg {
    fill: rgba(0, 0, 0, 0);
    stroke: rgba(62, 62, 62, 1);
    stroke-width: 2.222222328186035px;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.ef8e54f9-747d-4b48-8c8a-bfdce0_fg {
    position: absolute;
    overflow: visible;
    width: 22.687px;
    height: 22.687px;
    left: 0px;
    top: 0px;
}

#n_67cfaa4-6806-4a79-8514-73ec7_fh {
    fill: transparent;
    stroke: rgba(62, 62, 62, 1);
    stroke-width: 2.222222328186035px;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.n_67cfaa4-6806-4a79-8514-73ec7_fh {
    overflow: visible;
    position: absolute;
    width: 8.707px;
    height: 8.707px;
    left: 17.459px;
    top: 17.459px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Label_fi {
    display: none;
    left: 0px;
    top: -29.267px;
    position: absolute;
    overflow: visible;
    width: 41px;
    white-space: nowrap;
    line-height: 20px;
    margin-top: -3px;
    text-align: left;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 0.4px;
}

#Area_DISPLAY_ELEMENTSDefaultST_fj {
    fill: rgba(255, 255, 255, 0.149);
}

.Area_DISPLAY_ELEMENTSDefaultST_fj {
    position: absolute;
    overflow: visible;
    width: 322.322px;
    height: 55.255px;
    left: 0px;
    top: 0px;
}

#Value_fk {
    opacity: 0.5;
    left: 18.418px;
    top: 15.628px;
    position: absolute;
    overflow: visible;
    width: 85px;
    white-space: nowrap;
    text-align: left;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
}

#Input_DISPLAY_ELEMENTSDefaultS_fl {
    position: absolute;
    width: 322.322px;
    height: 55.255px;
    left: 52.839px;
    top: 334.734px;
    overflow: visible;
}

#METADATA_fm {
    display: none;
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: hidden;
    width: 12.511px;
    height: 11.511493682861328px;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 3px;
}

#Area_DISPLAY_ELEMENTSDefaultST_fn {
    fill: rgba(255, 255, 255, 0.149);
}

.Area_DISPLAY_ELEMENTSDefaultST_fn {
    position: absolute;
    overflow: visible;
    width: 322.322px;
    height: 55.255px;
    left: 0px;
    top: 0px;
}

#Value_fo {
    opacity: 0.5;
    left: 18.418px;
    top: 14.965px;
    position: absolute;
    overflow: visible;
    width: 169px;
    white-space: nowrap;
    text-align: left;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
}

#Icon_DISPLAY_ELEMENTSDefaultIC_fp {
    position: absolute;
    width: 23.023px;
    height: 23.023px;
    left: 283.183px;
    top: 17.267px;
    display: none;
    overflow: visible;
}

#METADATA_fq {
    display: none;
    left: 0.05px;
    top: 0px;
    position: absolute;
    overflow: hidden;
    width: 12.511px;
    height: 11.511493682861328px;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 3px;
}

#Area_DISPLAY_ELEMENTSDefaultIC_fr {
    opacity: 0;
    fill: rgba(253, 73, 198, 0.349);
}

.Area_DISPLAY_ELEMENTSDefaultIC_fr {
    position: absolute;
    overflow: visible;
    width: 23.023px;
    height: 23.023px;
    left: 0px;
    top: 0px;
}

#Icon_fs {
    position: absolute;
    width: 23.023px;
    height: 23.023px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#d34fc27e-16ef-4066-bebd-b0af67_ft {
    fill: rgba(0, 0, 0, 0);
    stroke: rgba(62, 62, 62, 1);
    stroke-width: 2.222222328186035px;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.d34fc27e-16ef-4066-bebd-b0af67_ft {
    position: absolute;
    overflow: visible;
    width: 22.687px;
    height: 22.687px;
    left: 0px;
    top: 0px;
}

#c85e8978-518c-4950-9316-b3a268_fu {
    fill: transparent;
    stroke: rgba(62, 62, 62, 1);
    stroke-width: 2.222222328186035px;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.c85e8978-518c-4950-9316-b3a268_fu {
    overflow: visible;
    position: absolute;
    width: 8.707px;
    height: 8.707px;
    left: 17.459px;
    top: 17.459px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Label_fv {
    display: none;
    left: 0px;
    top: -29.93px;
    position: absolute;
    overflow: visible;
    width: 41px;
    white-space: nowrap;
    line-height: 20px;
    margin-top: -3px;
    text-align: left;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 0.4px;
}

#Create_an_account_PLATFORMMOBI_fw {
    left: 187.453px;
    top: 689.139px;
    position: absolute;
    overflow: visible;
    width: 160px;
    white-space: nowrap;
    --web-animation: fadein 0.30000001192092896s ease-out;
    --web-action-type: page;
    cursor: pointer;
    text-align: left;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: rgba(247, 43, 163, 1);
}

#New_user_PLATFORMMOBILETAGH6 {
    left: 81.547px;
    top: 689.139px;
    position: absolute;
    overflow: visible;
    width: 93px;
    white-space: nowrap;
    line-height: 27px;
    margin-top: -4.5px;
    text-align: left;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
    letter-spacing: -0.05px;
}

#Title_PLATFORMMOBILETAGH4_fy {
    left: 162px;
    top: 224.345px;
    position: absolute;
    overflow: visible;
    width: 105px;
    white-space: nowrap;
    line-height: 36px;
    margin-top: -3px;
    text-align: center;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: rgba(255, 255, 255, 1);
}