* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

#iPhone_13_12_Pro_Max__19 {
    position: fixed;
    width: 100vw;
    height: 926px;
    background-color: rgba(36, 38, 43, 1);
    overflow: hidden;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#Rectangle_52_bna {
    opacity: 0.5;
    fill: url(#Rectangle_52_bna);
}

.Rectangle_52_bna {
    position: absolute;
    overflow: visible;
    width: 428px;
    height: 73px;
    left: 0px;
    top: 853px;
}

#Rectangle_50_bna {
    fill: url(#Rectangle_50_bna);
}

.Rectangle_50_bna {
    position: absolute;
    overflow: visible;
    width: 160px;
    height: 73px;
    left: 134px;
    top: 853px;
}

#Group_5_bm {
    position: absolute;
    width: 342.028px;
    height: 45.638px;
    left: 43px;
    top: 867px;
    overflow: visible;
}

#Path_15_bm {
    fill: rgba(255, 255, 255, 1);
}

.Path_15_bm {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    overflow: visible;
    position: absolute;
    width: 50.913px;
    height: 50.913px;
    left: 309.115px;
    top: 6px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Path_16_bm {
    fill: rgba(255, 255, 255, 1);
    stroke: rgba(255, 255, 255, 1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Path_16_bm {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    overflow: visible;
    position: absolute;
    width: 49.941px;
    height: 52.922px;
    left: 0px;
    top: 5.5px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Icon_awesome-user-friends_bm {
    fill: rgba(255, 255, 255, 1);
}

.Icon_awesome-user-friends_bm {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    overflow: visible;
    position: absolute;
    width: 83.197px;
    height: 63.638px;
    left: 137.43px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Group_694 {
    position: absolute;
    width: 356px;
    height: 61px;
    left: 36px;
    top: 649px;
    overflow: visible;
}

#Group_691_bnb {
    position: absolute;
    width: 166px;
    height: 61px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#Rectangle_396_bnd {
    fill: url(#Rectangle_396_bnd);
}

.Rectangle_396_bnd {
    position: absolute;
    overflow: visible;
    width: 166px;
    height: 61px;
    left: 0px;
    top: 0px;
}

#Create_an_account_PLATFORMMOBI_bne {
    left: 29.248px;
    top: 22px;
    position: absolute;
    overflow: visible;
    width: 103px;
    height: 19px;
    text-align: center;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
}

#Group_693 {
    position: absolute;
    width: 166px;
    height: 61px;
    left: 190px;
    top: 0px;
    overflow: visible;
}

#Rectangle_396_bng {
    fill: rgba(87, 83, 83, 1);
}

.Rectangle_396_bng {
    position: absolute;
    overflow: visible;
    width: 166px;
    height: 61px;
    left: 0px;
    top: 0px;
}

#Create_an_account_PLATFORMMOBI_bnh {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.459));
    left: 32px;
    top: 21px;
    position: absolute;
    overflow: visible;
    width: 103px;
    height: 19px;
    text-align: center;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: rgba(247, 43, 163, 1);
}

#Group_3_bni {
    position: absolute;
    width: 84.129px;
    height: 34px;
    left: 38px;
    top: 792px;
    overflow: visible;
    --web-animation: fadein 0.30000001192092896s ease-out;
    --web-action-type: page;
    cursor: pointer;
}

#Button_DISPLAY_ELEMENTSLabelSI_bnj {
    position: absolute;
    width: 66px;
    height: 34px;
    left: 18.129px;
    top: 0px;
    overflow: visible;
}

#METADATA_bnk {
    display: none;
    left: -392.572px;
    top: -22.734px;
    position: absolute;
    overflow: hidden;
    width: 18.487px;
    height: 17.487342834472656px;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 3px;
}

#Label_bnl {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 67px;
    white-space: nowrap;
    text-align: center;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: rgba(247, 43, 163, 1);
}

#Icon_DISPLAY_ELEMENTSLabelICON_bnm {
    position: absolute;
    width: 34.975px;
    height: 34.975px;
    left: 34.118px;
    top: 1.749px;
    display: none;
    overflow: visible;
}

#METADATA_bnn {
    display: none;
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: hidden;
    width: 18.487px;
    height: 17.487342834472656px;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 3px;
}

#Area_DISPLAY_ELEMENTSLabelICON_bno {
    opacity: 0;
    fill: rgba(252, 252, 252, 1);
}

.Area_DISPLAY_ELEMENTSLabelICON_bno {
    position: absolute;
    overflow: visible;
    width: 34.975px;
    height: 34.975px;
    left: 0px;
    top: 0px;
}

#Icon_bnp {
    position: absolute;
    width: 34.975px;
    height: 30.505px;
    left: 0px;
    top: 2.235px;
    overflow: visible;
}

#n_d6cf638-3367-4977-bdc6-86433_bnq {
    fill: rgba(0, 0, 0, 0);
    stroke: rgba(250, 23, 114, 1);
    stroke-width: 1.9135938882827759px;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.n_d6cf638-3367-4977-bdc6-86433_bnq {
    overflow: visible;
    position: absolute;
    width: 36.889px;
    height: 32.419px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Icon_ionic-ios-arrow-down_bns {
    fill: url(#Icon_ionic-ios-arrow-down_bns);
}

.Icon_ionic-ios-arrow-down_bns {
    overflow: visible;
    position: absolute;
    width: 17.717px;
    height: 10.13px;
    transform: translate(0px, 0px) matrix(1, 0, 0, 1, -3.7934, 14.7934) rotate(-90deg);
    transform-origin: center;
    left: 0px;
    top: 0px;
}

#Title_PLATFORMMOBILETAGH4_bnt {
    left: 78px;
    top: 296px;
    position: absolute;
    overflow: visible;
    width: 273px;
    white-space: nowrap;
    line-height: 36px;
    margin-top: -4.5px;
    text-align: center;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    color: rgba(251, 6, 72, 1);
}

#Create_an_account_PLATFORMMOBI_bnu {
    left: 43px;
    top: 415px;
    position: absolute;
    overflow: visible;
    width: 343px;
    height: 48px;
    text-align: center;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
}

#Path_27_bnw {
    fill: url(#Path_27_bnw);
}

.Path_27_bnw {
    overflow: visible;
    position: absolute;
    width: 104.517px;
    height: 104.517px;
    left: 161.741px;
    top: 179.742px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}