* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

#iPhone_13_12_Pro_Max__20 {
    position: fixed;
    width: 100vw;
    height: 926px;
    background-color: rgba(36, 38, 43, 1);
    overflow: hidden;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#Rectangle_398_hp {
    fill: url(#Rectangle_398_hp);
}

.Rectangle_398_hp {
    position: absolute;
    overflow: visible;
    width: 428px;
    height: 73px;
    left: 0px;
    top: 853px;
}

#Group_695_hq {
    position: absolute;
    width: 342.028px;
    height: 45.638px;
    left: 43px;
    top: 867px;
    overflow: visible;
}

#Path_15_hr {
    fill: rgba(255, 255, 255, 1);
}

.Path_15_hr {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    overflow: visible;
    position: absolute;
    width: 50.913px;
    height: 50.913px;
    left: 309.115px;
    top: 6px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Path_16_hs {
    fill: rgba(255, 255, 255, 1);
    stroke: rgba(255, 255, 255, 1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Path_16_hs {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    overflow: visible;
    position: absolute;
    width: 49.941px;
    height: 52.922px;
    left: 0px;
    top: 5.5px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Icon_awesome-user-friends_ht {
    fill: rgba(255, 255, 255, 1);
}

.Icon_awesome-user-friends_ht {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    overflow: visible;
    position: absolute;
    width: 83.197px;
    height: 63.638px;
    left: 137.43px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#MV5BM2MyNjYxNmUtYTAwNi00MTYxLW_hu {
    position: absolute;
    width: 429px;
    height: 664px;
    left: 0px;
    top: 0px;
    overflow: visible;
    --web-animation: fadein 0.30000001192092896s linear;
    --web-action-type: page;
    cursor: pointer;
}

#Group_4_hv {
    position: absolute;
    width: 343px;
    height: 68px;
    left: 43px;
    top: 631px;
    overflow: visible;
}

#Rectangle_19_hw {
    fill: rgba(59, 57, 57, 1);
}

.Rectangle_19_hw {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
    width: 361px;
    height: 86px;
    left: 0px;
    top: 0px;
}

#Rectangle_38_hx {
    fill: rgba(87, 83, 83, 1);
}

.Rectangle_38_hx {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
    width: 254px;
    height: 75px;
    left: 53px;
    top: 6px;
}

#Icon_awesome-check_hz {
    fill: url(#Icon_awesome-check_hz);
}

.Icon_awesome-check_hz {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    overflow: visible;
    position: absolute;
    width: 44.996px;
    height: 38.131px;
    left: 299.141px;
    top: 23.934px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Path_8_ia {
    fill: url(#Path_8_ia);
}

.Path_8_ia {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.478));
    overflow: visible;
    position: absolute;
    width: 54.627px;
    height: 54.63px;
    left: 222.934px;
    top: 16px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Icon_metro-cross_ia {
    fill: url(#Icon_metro-cross_ia);
}

.Icon_metro-cross_ia {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    overflow: visible;
    position: absolute;
    width: 41.133px;
    height: 41.133px;
    left: 19.726px;
    top: 22.934px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Path_9_ia {
    fill: url(#Path_9_ia);
}

.Path_9_ia {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.478));
    overflow: visible;
    position: absolute;
    width: 36.627px;
    height: 36.63px;
    transform: translate(-43px, -703px) matrix(1, 0, 0, 1, 125.373, 719) rotate(180deg);
    transform-origin: center;
    left: 0px;
    top: 0px;
}

#Rectangle_403_h {
    fill: transparent;
}

.Rectangle_403_h {
    position: absolute;
    overflow: visible;
    width: 50px;
    height: 45px;
    left: 262px;
    top: 644px;
}

#Title_PLATFORMMOBILETAGH4_h {
    left: 106px;
    top: 552.5px;
    position: absolute;
    overflow: visible;
    width: 217px;
    white-space: nowrap;
    line-height: 36px;
    margin-top: -3px;
    text-align: center;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: rgba(251, 6, 72, 1);
}

#Rectangle_399 {
    filter: blur(9px);
    fill: rgba(0, 0, 0, 1);
    stroke: rgba(112, 112, 112, 1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Rectangle_399 {
    position: absolute;
    overflow: visible;
    width: 428px;
    height: 926px;
    left: 0px;
    top: 0px;
    transition: all 0.30000001192092896s linear;
    --web-animation: fadein 0.30000001192092896s linear;
    --web-action-type: page;
    cursor: pointer;
}

#Group_701 {
    position: absolute;
    width: 342px;
    height: 470px;
    left: 43px;
    top: 152px;
    overflow: visible;
}

#Rectangle_400 {
    fill: rgba(36, 38, 43, 1);
}

.Rectangle_400 {
    filter: drop-shadow(8px 9px 15px rgba(0, 0, 0, 0.361));
    position: absolute;
    overflow: visible;
    width: 387px;
    height: 515px;
    left: 0px;
    top: 0px;
}

#Path_22_ic {
    fill: url(#Path_22_ic);
}

.Path_22_ic {
    overflow: visible;
    position: absolute;
    width: 104.517px;
    height: 104.517px;
    left: 118.741px;
    top: 73px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Create_an_account_PLATFORMMOBI_id {
    left: 46px;
    top: 291px;
    position: absolute;
    overflow: visible;
    width: 251px;
    white-space: nowrap;
    text-align: center;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    color: rgba(255, 255, 255, 1);
}

#Intersection_3_if {
    fill: url(#Intersection_3_if);
}

.Intersection_3_if {
    overflow: visible;
    position: absolute;
    width: 201.636px;
    height: 19.925px;
    left: 69.398px;
    top: 231.925px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Group_691 {
    position: absolute;
    width: 276px;
    height: 61px;
    left: 33px;
    top: 375px;
    overflow: visible;
}

#Rectangle_396_ii {
    fill: url(#Rectangle_396_ii);
}

.Rectangle_396_ii {
    position: absolute;
    overflow: visible;
    width: 276px;
    height: 61px;
    left: 0px;
    top: 0px;
}

#Create_an_account_PLATFORMMOBI_ij {
    left: 47.248px;
    top: 20px;
    position: absolute;
    overflow: visible;
    width: 177px;
    height: 19px;
    text-align: center;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
}