* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

#iPhone_13_12_Pro_Max__15 {
    position: fixed;
    width: 100vw;
    height: 926px;
    background-color: rgba(36, 38, 43, 1);
    overflow: hidden;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#Rectangle_50_in {
    fill: url(#Rectangle_50_in);
}

.Rectangle_50_in {
    position: absolute;
    overflow: visible;
    width: 428px;
    height: 73px;
    left: 0px;
    top: 853px;
}

#Group_5 {
    position: absolute;
    width: 342.028px;
    height: 45.638px;
    left: 43px;
    top: 867px;
    overflow: visible;
}

#Path_15_ip {
    fill: rgba(255, 255, 255, 1);
}

.Path_15_ip {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    overflow: visible;
    position: absolute;
    width: 50.913px;
    height: 50.913px;
    left: 309.115px;
    top: 6px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Path_16_iq {
    fill: rgba(255, 255, 255, 1);
    stroke: rgba(255, 255, 255, 1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Path_16_iq {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    overflow: visible;
    position: absolute;
    width: 49.941px;
    height: 52.922px;
    left: 0px;
    top: 5.5px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Icon_awesome-user-friends_ir {
    fill: rgba(255, 255, 255, 1);
}

.Icon_awesome-user-friends_ir {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    overflow: visible;
    position: absolute;
    width: 83.197px;
    height: 63.638px;
    left: 137.43px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#MV5BM2MyNjYxNmUtYTAwNi00MTYxLW_is {
    position: absolute;
    width: 429px;
    height: 664px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#Rectangle_51_iu {
    filter: blur(21px);
    fill: url(#Rectangle_51_iu);
}

.Rectangle_51_iu {
    position: absolute;
    overflow: visible;
    width: 436px;
    height: 667px;
    left: 0px;
    top: -3px;
    --web-animation: fadein 0.30000001192092896s linear;
    --web-action-type: page;
    cursor: pointer;
}

#Don_Vito_Corleone_head_of_a_ma {
    left: 44px;
    top: 169px;
    position: absolute;
    overflow: visible;
    width: 342px;
    height: 225px;
    line-height: 18px;
    margin-top: -2px;
    text-align: left;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
}

#Title_PLATFORMMOBILETAGH4_iw {
    left: 42px;
    top: 135px;
    position: absolute;
    overflow: visible;
    width: 121px;
    white-space: nowrap;
    line-height: 52px;
    margin-top: -13.5px;
    text-align: center;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: rgba(255, 255, 255, 1);
}

#Release_date_March_24_1972_USA {
    left: 44px;
    top: 294px;
    position: absolute;
    overflow: visible;
    width: 342px;
    height: 200px;
    text-align: left;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
}

#Title_PLATFORMMOBILETAGH4_iy {
    left: 44px;
    top: 54.5px;
    position: absolute;
    overflow: visible;
    width: 289px;
    white-space: nowrap;
    text-align: center;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    color: rgba(255, 255, 255, 1);
}

#Group_4_iz {
    position: absolute;
    width: 343px;
    height: 68px;
    left: 43px;
    top: 632px;
    overflow: visible;
}

#Rectangle_19_i {
    fill: rgba(59, 57, 57, 1);
}

.Rectangle_19_i {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
    width: 361px;
    height: 86px;
    left: 0px;
    top: 0px;
}

#Rectangle_38_i {
    fill: rgba(87, 83, 83, 1);
}

.Rectangle_38_i {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
    width: 254px;
    height: 75px;
    left: 53px;
    top: 6px;
}

#Icon_awesome-check_ja {
    fill: url(#Icon_awesome-check_ja);
}

.Icon_awesome-check_ja {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    overflow: visible;
    position: absolute;
    width: 44.996px;
    height: 38.131px;
    left: 299.141px;
    top: 23.934px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Path_8_ja {
    fill: url(#Path_8_ja);
}

.Path_8_ja {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.478));
    overflow: visible;
    position: absolute;
    width: 54.627px;
    height: 54.63px;
    left: 222.934px;
    top: 16px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Icon_metro-cross_ja {
    fill: url(#Icon_metro-cross_ja);
}

.Icon_metro-cross_ja {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    overflow: visible;
    position: absolute;
    width: 41.133px;
    height: 41.133px;
    left: 19.726px;
    top: 22.934px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Path_9_ja {
    fill: url(#Path_9_ja);
}

.Path_9_ja {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.478));
    overflow: visible;
    position: absolute;
    width: 36.627px;
    height: 36.63px;
    transform: translate(-43px, -703px) matrix(1, 0, 0, 1, 125.373, 719) rotate(180deg);
    transform-origin: center;
    left: 0px;
    top: 0px;
}