* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

#iPhone_13_12_Pro_Max__17 {
    position: fixed;
    width: 100vw;
    height: 926px;
    background-color: rgba(36, 38, 43, 1);
    overflow: hidden;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#Rectangle_52_bn {
    opacity: 0.5;
    fill: url(#Rectangle_52_bn);
}

.Rectangle_52_bn {
    position: absolute;
    overflow: visible;
    width: 428px;
    height: 73px;
    left: 0px;
    top: 853px;
}

#Rectangle_50_boa {
    fill: url(#Rectangle_50_boa);
}

.Rectangle_50_boa {
    position: absolute;
    overflow: visible;
    width: 160px;
    height: 73px;
    left: 134px;
    top: 853px;
}

#Group_5_bn {
    position: absolute;
    width: 342.028px;
    height: 45.638px;
    left: 43px;
    top: 867px;
    overflow: visible;
}

#Path_15_bn {
    fill: rgba(255, 255, 255, 1);
}

.Path_15_bn {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    overflow: visible;
    position: absolute;
    width: 50.913px;
    height: 50.913px;
    left: 309.115px;
    top: 6px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Path_16_bn {
    fill: rgba(255, 255, 255, 1);
    stroke: rgba(255, 255, 255, 1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Path_16_bn {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    overflow: visible;
    position: absolute;
    width: 49.941px;
    height: 52.922px;
    left: 0px;
    top: 5.5px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Icon_awesome-user-friends_bn {
    fill: rgba(255, 255, 255, 1);
}

.Icon_awesome-user-friends_bn {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    overflow: visible;
    position: absolute;
    width: 83.197px;
    height: 63.638px;
    left: 137.43px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Rectangle_397 {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.722));
    position: absolute;
    width: 342px;
    height: 516px;
    left: 43px;
    top: 80px;
    overflow: visible;
}

#Ellipse_7_bn {
    fill: url(#Ellipse_7_bn);
    stroke: rgba(251, 6, 72, 1);
    stroke-width: 7px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
    transition: all 0.30000001192092896s linear;
    --web-animation: fadein 0.30000001192092896s linear;
    --web-action-type: page;
    cursor: pointer;
}

.Ellipse_7_bn {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.631));
    position: absolute;
    overflow: visible;
    width: 145px;
    height: 145px;
    left: 154px;
    top: 628px;
}

#Ellipse_6_bob {
    fill: url(#Ellipse_6_bob);
    stroke: rgba(36, 38, 43, 1);
    stroke-width: 11px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Ellipse_6_bob {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.471));
    position: absolute;
    overflow: visible;
    width: 116px;
    height: 116px;
    left: 169px;
    top: 643px;
}

#Path_26_bod {
    fill: url(#Path_26_bod);
}

.Path_26_bod {
    overflow: visible;
    position: absolute;
    width: 124.357px;
    height: 124.357px;
    left: 157.817px;
    top: 260.825px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Group_702 {
    position: absolute;
    width: 84.129px;
    height: 34px;
    left: 26px;
    top: 792px;
    overflow: visible;
    --web-animation: fadein 0.30000001192092896s ease-out;
    --web-action-type: page;
    cursor: pointer;
}

#Button_DISPLAY_ELEMENTSLabelSI_bof {
    position: absolute;
    width: 66px;
    height: 34px;
    left: 18.129px;
    top: 0px;
    overflow: visible;
}

#METADATA_bog {
    display: none;
    left: -392.571px;
    top: -22.734px;
    position: absolute;
    overflow: hidden;
    width: 18.487px;
    height: 17.487342834472656px;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 3px;
}

#Label_boh {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 67px;
    white-space: nowrap;
    text-align: center;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: rgba(247, 43, 163, 1);
}

#Icon_DISPLAY_ELEMENTSLabelICON_boi {
    position: absolute;
    width: 34.975px;
    height: 34.975px;
    left: 34.118px;
    top: 1.749px;
    display: none;
    overflow: visible;
}

#METADATA_boj {
    display: none;
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: hidden;
    width: 18.487px;
    height: 17.487342834472656px;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 3px;
}

#Area_DISPLAY_ELEMENTSLabelICON_bok {
    opacity: 0;
    fill: rgba(252, 252, 252, 1);
}

.Area_DISPLAY_ELEMENTSLabelICON_bok {
    position: absolute;
    overflow: visible;
    width: 34.975px;
    height: 34.975px;
    left: 0px;
    top: 0px;
}

#Icon_bol {
    position: absolute;
    width: 34.975px;
    height: 30.505px;
    left: 0px;
    top: 2.235px;
    overflow: visible;
}

#n_d6cf638-3367-4977-bdc6-86433_bom {
    fill: rgba(0, 0, 0, 0);
    stroke: rgba(250, 23, 114, 1);
    stroke-width: 1.9135938882827759px;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.n_d6cf638-3367-4977-bdc6-86433_bom {
    overflow: visible;
    position: absolute;
    width: 36.889px;
    height: 32.419px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Icon_ionic-ios-arrow-down_boo {
    fill: url(#Icon_ionic-ios-arrow-down_boo);
}

.Icon_ionic-ios-arrow-down_boo {
    overflow: visible;
    position: absolute;
    width: 17.717px;
    height: 10.13px;
    transform: translate(0px, 0px) matrix(1, 0, 0, 1, -3.7934, 14.7934) rotate(-90deg);
    transform-origin: center;
    left: 0px;
    top: 0px;
}