* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

#iPhone_13_12_Pro_Max__5 {
    position: fixed;
    width: 100vw;
    height: 926px;
    background-color: rgba(36, 38, 43, 1);
    overflow: hidden;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#Button_DISPLAY_ELEMENTSLabelSI {
    position: absolute;
    width: 322.322px;
    height: 55.255px;
    left: 52.839px;
    top: 624.474px;
    overflow: visible;
    --web-animation: fadein 0.30000001192092896s ease-out;
    --web-action-type: page;
    cursor: pointer;
}

#METADATA {
    display: none;
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: hidden;
    width: 12.511px;
    height: 11.511493682861328px;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 3px;
}

#Area_DISPLAY_ELEMENTSLabelSIZE_ {
    fill: url(#Area_DISPLAY_ELEMENTSLabelSIZE_);
}

.Area_DISPLAY_ELEMENTSLabelSIZE_ {
    position: absolute;
    overflow: visible;
    width: 322.322px;
    height: 55.255px;
    left: 0px;
    top: 0px;
}

#Label {
    left: 126.08px;
    top: 14.965px;
    position: absolute;
    overflow: visible;
    width: 69px;
    white-space: nowrap;
    text-align: center;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
}

#Icon_DISPLAY_ELEMENTSLabelICON {
    position: absolute;
    width: 23.023px;
    height: 23.023px;
    left: 280.88px;
    top: 16.116px;
    display: none;
    overflow: visible;
}

#METADATA_ {
    display: none;
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: hidden;
    width: 12.511px;
    height: 11.511493682861328px;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 3px;
}

#Area_DISPLAY_ELEMENTSLabelICON {
    opacity: 0;
    fill: rgba(252, 252, 252, 1);
}

.Area_DISPLAY_ELEMENTSLabelICON {
    position: absolute;
    overflow: visible;
    width: 23.023px;
    height: 23.023px;
    left: 0px;
    top: 0px;
}

#Icon {
    position: absolute;
    width: 23.023px;
    height: 20.081px;
    left: 0px;
    top: 1.471px;
    overflow: visible;
}

#n_d6cf638-3367-4977-bdc6-86433 {
    fill: rgba(0, 0, 0, 0);
    stroke: rgba(250, 23, 114, 1);
    stroke-width: 1.9135938882827759px;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.n_d6cf638-3367-4977-bdc6-86433 {
    overflow: visible;
    position: absolute;
    width: 24.937px;
    height: 21.994px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Input_DISPLAY_ELEMENTSDefaultS {
    position: absolute;
    width: 322.322px;
    height: 55.255px;
    left: 52.839px;
    top: 390.855px;
    overflow: visible;
}

#METADATA_bb {
    display: none;
    left: 0px;
    top: 0.663px;
    position: absolute;
    overflow: hidden;
    width: 12.511px;
    height: 11.511493682861328px;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 3px;
}

#Icon_DISPLAY_ELEMENTSDefaultIC {
    position: absolute;
    width: 23.023px;
    height: 23.023px;
    left: 283.183px;
    top: 17.93px;
    display: none;
    overflow: visible;
}

#METADATA_bd {
    display: none;
    left: 0.05px;
    top: 0px;
    position: absolute;
    overflow: hidden;
    width: 12.511px;
    height: 11.511493682861328px;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 3px;
}

#Area_DISPLAY_ELEMENTSDefaultIC {
    opacity: 0;
    fill: rgba(253, 73, 198, 0.349);
}

.Area_DISPLAY_ELEMENTSDefaultIC {
    position: absolute;
    overflow: visible;
    width: 23.023px;
    height: 23.023px;
    left: 0px;
    top: 0px;
}

#Icon_bf {
    position: absolute;
    width: 23.023px;
    height: 23.023px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#ef8e54f9-747d-4b48-8c8a-bfdce0 {
    fill: rgba(0, 0, 0, 0);
    stroke: rgba(62, 62, 62, 1);
    stroke-width: 2.222222328186035px;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.ef8e54f9-747d-4b48-8c8a-bfdce0 {
    position: absolute;
    overflow: visible;
    width: 22.687px;
    height: 22.687px;
    left: 0px;
    top: 0px;
}

#n_67cfaa4-6806-4a79-8514-73ec7 {
    fill: transparent;
    stroke: rgba(62, 62, 62, 1);
    stroke-width: 2.222222328186035px;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.n_67cfaa4-6806-4a79-8514-73ec7 {
    overflow: visible;
    position: absolute;
    width: 8.707px;
    height: 8.707px;
    left: 17.459px;
    top: 17.459px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Label_bi {
    display: none;
    left: 0px;
    top: -29.267px;
    position: absolute;
    overflow: visible;
    width: 41px;
    white-space: nowrap;
    line-height: 20px;
    margin-top: -3px;
    text-align: left;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 0.4px;
}

#Area_DISPLAY_ELEMENTSDefaultST {
    fill: rgba(255, 255, 255, 0.149);
}

.Area_DISPLAY_ELEMENTSDefaultST {
    position: absolute;
    overflow: visible;
    width: 322.322px;
    height: 55.255px;
    left: 0px;
    top: 0px;
}

#Value {
    opacity: 0.5;
    left: 18.418px;
    top: 15.628px;
    position: absolute;
    overflow: visible;
    width: 85px;
    white-space: nowrap;
    text-align: left;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
}

#Input_DISPLAY_ELEMENTSDefaultS_bl {
    position: absolute;
    width: 322.322px;
    height: 55.255px;
    left: 52.839px;
    top: 463.866px;
    overflow: visible;
}

#METADATA_bm {
    display: none;
    left: 0px;
    top: 0.663px;
    position: absolute;
    overflow: hidden;
    width: 12.511px;
    height: 11.511493682861328px;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 3px;
}

#Icon_DISPLAY_ELEMENTSDefaultIC_bn {
    position: absolute;
    width: 23.023px;
    height: 23.023px;
    left: 283.183px;
    top: 17.93px;
    display: none;
    overflow: visible;
}

#METADATA_bo {
    display: none;
    left: 0.05px;
    top: 0px;
    position: absolute;
    overflow: hidden;
    width: 12.511px;
    height: 11.511493682861328px;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 3px;
}

#Area_DISPLAY_ELEMENTSDefaultIC_bp {
    opacity: 0;
    fill: rgba(253, 73, 198, 0.349);
}

.Area_DISPLAY_ELEMENTSDefaultIC_bp {
    position: absolute;
    overflow: visible;
    width: 23.023px;
    height: 23.023px;
    left: 0px;
    top: 0px;
}

#Icon_bq {
    position: absolute;
    width: 23.023px;
    height: 23.023px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#ef8e54f9-747d-4b48-8c8a-bfdce0_br {
    fill: rgba(0, 0, 0, 0);
    stroke: rgba(62, 62, 62, 1);
    stroke-width: 2.222222328186035px;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.ef8e54f9-747d-4b48-8c8a-bfdce0_br {
    position: absolute;
    overflow: visible;
    width: 22.687px;
    height: 22.687px;
    left: 0px;
    top: 0px;
}

#n_67cfaa4-6806-4a79-8514-73ec7_bs {
    fill: transparent;
    stroke: rgba(62, 62, 62, 1);
    stroke-width: 2.222222328186035px;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.n_67cfaa4-6806-4a79-8514-73ec7_bs {
    overflow: visible;
    position: absolute;
    width: 8.707px;
    height: 8.707px;
    left: 17.459px;
    top: 17.459px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Label_bt {
    display: none;
    left: 0px;
    top: -29.267px;
    position: absolute;
    overflow: visible;
    width: 41px;
    white-space: nowrap;
    line-height: 20px;
    margin-top: -3px;
    text-align: left;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 0.4px;
}

#Area_DISPLAY_ELEMENTSDefaultST_bu {
    fill: rgba(255, 255, 255, 0.149);
}

.Area_DISPLAY_ELEMENTSDefaultST_bu {
    position: absolute;
    overflow: visible;
    width: 322.322px;
    height: 55.255px;
    left: 0px;
    top: 0px;
}

#Value_bv {
    opacity: 0.5;
    left: 18.418px;
    top: 15.628px;
    position: absolute;
    overflow: visible;
    width: 161px;
    white-space: nowrap;
    text-align: left;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
}

#Input_DISPLAY_ELEMENTSDefaultS_bw {
    position: absolute;
    width: 322.322px;
    height: 55.255px;
    left: 52.839px;
    top: 317.844px;
    overflow: visible;
}

#METADATA_bx {
    display: none;
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: hidden;
    width: 12.511px;
    height: 11.511493682861328px;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 3px;
}

#Area_DISPLAY_ELEMENTSDefaultST_by {
    fill: rgba(255, 255, 255, 0.149);
}

.Area_DISPLAY_ELEMENTSDefaultST_by {
    position: absolute;
    overflow: visible;
    width: 322.322px;
    height: 55.255px;
    left: 0px;
    top: 0px;
}

#Value_bz {
    opacity: 0.5;
    left: 18.418px;
    top: 14.965px;
    position: absolute;
    overflow: visible;
    width: 169px;
    white-space: nowrap;
    text-align: left;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
}

#Icon_DISPLAY_ELEMENTSDefaultIC_b {
    position: absolute;
    width: 23.023px;
    height: 23.023px;
    left: 283.183px;
    top: 17.267px;
    display: none;
    overflow: visible;
}

#METADATA_b {
    display: none;
    left: 0.05px;
    top: 0px;
    position: absolute;
    overflow: hidden;
    width: 12.511px;
    height: 11.511493682861328px;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 3px;
}

#Area_DISPLAY_ELEMENTSDefaultIC_b {
    opacity: 0;
    fill: rgba(253, 73, 198, 0.349);
}

.Area_DISPLAY_ELEMENTSDefaultIC_b {
    position: absolute;
    overflow: visible;
    width: 23.023px;
    height: 23.023px;
    left: 0px;
    top: 0px;
}

#Icon_b {
    position: absolute;
    width: 23.023px;
    height: 23.023px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#d34fc27e-16ef-4066-bebd-b0af67 {
    fill: rgba(0, 0, 0, 0);
    stroke: rgba(62, 62, 62, 1);
    stroke-width: 2.222222328186035px;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.d34fc27e-16ef-4066-bebd-b0af67 {
    position: absolute;
    overflow: visible;
    width: 22.687px;
    height: 22.687px;
    left: 0px;
    top: 0px;
}

#c85e8978-518c-4950-9316-b3a268 {
    fill: transparent;
    stroke: rgba(62, 62, 62, 1);
    stroke-width: 2.222222328186035px;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.c85e8978-518c-4950-9316-b3a268 {
    overflow: visible;
    position: absolute;
    width: 8.707px;
    height: 8.707px;
    left: 17.459px;
    top: 17.459px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Label_b {
    display: none;
    left: 0px;
    top: -29.93px;
    position: absolute;
    overflow: visible;
    width: 41px;
    white-space: nowrap;
    line-height: 20px;
    margin-top: -3px;
    text-align: left;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 0.4px;
}

#Title_PLATFORMMOBILETAGH4 {
    left: 156.802px;
    top: 228.345px;
    position: absolute;
    overflow: visible;
    width: 115px;
    white-space: nowrap;
    line-height: 36px;
    margin-top: -3px;
    text-align: center;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: rgba(255, 255, 255, 1);
}

#Rectangle_42 {
    opacity: 0.5;
    fill: rgba(121, 123, 129, 1);
}

.Rectangle_42 {
    position: absolute;
    overflow: visible;
    width: 394px;
    height: 7px;
    left: 17px;
    top: 851px;
}

#Rectangle_47_ca {
    fill: url(#Rectangle_47_ca);
}

.Rectangle_47_ca {
    position: absolute;
    overflow: visible;
    width: 148px;
    height: 9px;
    left: 16px;
    top: 850px;
}

#Group_700 {
    position: absolute;
    width: 84.129px;
    height: 34px;
    left: 30px;
    top: 792px;
    overflow: visible;
    --web-animation: fadein 0.30000001192092896s ease-out;
    --web-action-type: page;
    cursor: pointer;
}

#Button_DISPLAY_ELEMENTSLabelSI_cc {
    position: absolute;
    width: 66px;
    height: 34px;
    left: 18.129px;
    top: 0px;
    overflow: visible;
}

#METADATA_cd {
    display: none;
    left: -392.572px;
    top: -22.734px;
    position: absolute;
    overflow: hidden;
    width: 18.487px;
    height: 17.487342834472656px;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 3px;
}

#Label_ce {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 67px;
    white-space: nowrap;
    text-align: center;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: rgba(247, 43, 163, 1);
}

#Icon_DISPLAY_ELEMENTSLabelICON_cf {
    position: absolute;
    width: 34.975px;
    height: 34.975px;
    left: 34.118px;
    top: 1.749px;
    display: none;
    overflow: visible;
}

#METADATA_cg {
    display: none;
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: hidden;
    width: 18.487px;
    height: 17.487342834472656px;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 3px;
}

#Area_DISPLAY_ELEMENTSLabelICON_ch {
    opacity: 0;
    fill: rgba(252, 252, 252, 1);
}

.Area_DISPLAY_ELEMENTSLabelICON_ch {
    position: absolute;
    overflow: visible;
    width: 34.975px;
    height: 34.975px;
    left: 0px;
    top: 0px;
}

#Icon_ci {
    position: absolute;
    width: 34.975px;
    height: 30.505px;
    left: 0px;
    top: 2.235px;
    overflow: visible;
}

#n_d6cf638-3367-4977-bdc6-86433_cj {
    fill: rgba(0, 0, 0, 0);
    stroke: rgba(250, 23, 114, 1);
    stroke-width: 1.9135938882827759px;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.n_d6cf638-3367-4977-bdc6-86433_cj {
    overflow: visible;
    position: absolute;
    width: 36.889px;
    height: 32.419px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Icon_ionic-ios-arrow-down_cl {
    fill: url(#Icon_ionic-ios-arrow-down_cl);
}

.Icon_ionic-ios-arrow-down_cl {
    overflow: visible;
    position: absolute;
    width: 17.717px;
    height: 10.13px;
    transform: translate(0px, 0px) matrix(1, 0, 0, 1, -3.7934, 14.7934) rotate(-90deg);
    transform-origin: center;
    left: 0px;
    top: 0px;
}

#Checkbox_DISPLAY_ELEMENTSLabel {
    position: absolute;
    width: 321.658px;
    height: 33.628px;
    left: 53.171px;
    top: 542.348px;
    overflow: visible;
}

#METADATA_cn {
    display: none;
    left: 1.403px;
    top: 1.33px;
    position: absolute;
    overflow: hidden;
    width: 12.511px;
    height: 11.511493682861328px;
    text-align: left;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 3px;
}

#Label_co {
    left: 49.658px;
    top: 4.814px;
    position: absolute;
    overflow: visible;
    width: 273px;
    white-space: nowrap;
    text-align: left;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
}

#Area_DISPLAY_ELEMENTSDefaultST_cp {
    fill: rgba(255, 255, 255, 0.149);
}

.Area_DISPLAY_ELEMENTSDefaultST_cp {
    overflow: visible;
    position: absolute;
    width: 34.322px;
    height: 33.628px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Check_DISPLAY_ELEMENTSLabelSTA {
    fill: transparent;
    stroke: rgba(255, 255, 255, 1);
    stroke-width: 2px;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Check_DISPLAY_ELEMENTSLabelSTA {
    overflow: visible;
    position: absolute;
    width: 15.49px;
    height: 7.32px;
    transform: translate(1.403px, 1.33px) matrix(1, 0, 0, 1, 8.7657, 9.2611) rotate(-45deg);
    transform-origin: center;
    left: 0px;
    top: 0px;
}