* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
#splash {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 926px;
    background-color: rgba(36,38,43,1);
    overflow: hidden;
    --web-animation: fadein 0.30000001192092896s ease-out;
    --web-action-type: page;
    cursor: pointer;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
#Path_24 {
    fill: rgba(36,38,43,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Path_24 {
    overflow: visible;
    position: absolute;
    width: 428px;
    height: 926px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Component_2__1 {
    position: absolute;
    width: 355.835px;
    height: 68.781px;
    left: 36px;
    top: 394.219px;
    overflow: visible;
}
#Union_1_w {
    fill: url(#Union_1_w);
    stroke: rgba(0,0,0,0);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 10;
    shape-rendering: auto;
}
.Union_1_w {
    overflow: visible;
    position: absolute;
    width: 357.15px;
    height: 49.694px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#An_app_for_friends_duh {
    left: 85.918px;
    top: 31.781px;
    position: absolute;
    overflow: visible;
    width: 234px;
    height: 37px;
    text-align: center;
    font-family: Blackish Demo;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    color: rgba(255,255,255,1);
}