* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

#iPhone_13_12_Pro_Max__14 {
    position: fixed;
    width: 100vw;
    height: 926px;
    background-color: rgba(36, 38, 43, 1);
    overflow: hidden;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#Rectangle_39_g {
    opacity: 0.19;
    fill: rgba(200, 202, 207, 1);
}

.Rectangle_39_g {
    position: absolute;
    overflow: visible;
    width: 301px;
    height: 459px;
    left: 58px;
    top: 51px;
}

#Rectangle_40_g {
    opacity: 0.6;
    fill: rgba(121, 123, 129, 1);
}

.Rectangle_40_g {
    position: absolute;
    overflow: visible;
    width: 301px;
    height: 459px;
    left: 64px;
    top: 56px;
}

#MV5BM2MyNjYxNmUtYTAwNi00MTYxLW_g {
    position: absolute;
    width: 429px;
    height: 664px;
    left: 0px;
    top: 0px;
    overflow: visible;
    --web-animation: fadein 0.30000001192092896s linear;
    --web-action-type: page;
    cursor: pointer;
}

#Group_4 {
    position: absolute;
    width: 343px;
    height: 68px;
    left: 43px;
    top: 631px;
    overflow: visible;
}

#Rectangle_19_g {
    fill: rgba(59, 57, 57, 1);
}

.Rectangle_19_g {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
    width: 361px;
    height: 86px;
    left: 0px;
    top: 0px;
}

#Rectangle_38_g {
    fill: rgba(87, 83, 83, 1);
}

.Rectangle_38_g {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
    width: 254px;
    height: 75px;
    left: 53px;
    top: 6px;
}

#Icon_awesome-check_ha {
    fill: url(#Icon_awesome-check_ha);
}

.Icon_awesome-check_ha {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    overflow: visible;
    position: absolute;
    width: 44.996px;
    height: 38.131px;
    left: 299.141px;
    top: 23.934px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Path_8_g {
    fill: url(#Path_8_g);
}

.Path_8_g {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.478));
    overflow: visible;
    position: absolute;
    width: 54.627px;
    height: 54.63px;
    left: 222.934px;
    top: 16px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Icon_metro-cross_hb {
    fill: url(#Icon_metro-cross_hb);
}

.Icon_metro-cross_hb {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    overflow: visible;
    position: absolute;
    width: 41.133px;
    height: 41.133px;
    left: 19.726px;
    top: 22.934px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Path_9_hd {
    fill: url(#Path_9_hd);
}

.Path_9_hd {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.478));
    overflow: visible;
    position: absolute;
    width: 36.627px;
    height: 36.63px;
    transform: translate(-43px, -703px) matrix(1, 0, 0, 1, 125.373, 719) rotate(180deg);
    transform-origin: center;
    left: 0px;
    top: 0px;
}

#Rectangle_398_hf {
    fill: url(#Rectangle_398_hf);
}

.Rectangle_398_hf {
    position: absolute;
    overflow: visible;
    width: 428px;
    height: 73px;
    left: 0px;
    top: 853px;
}

#Group_695 {
    position: absolute;
    width: 342.028px;
    height: 45.638px;
    left: 43px;
    top: 867px;
    overflow: visible;
}

#Path_15 {
    fill: rgba(255, 255, 255, 1);
}

.Path_15 {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    overflow: visible;
    position: absolute;
    width: 50.913px;
    height: 50.913px;
    left: 309.115px;
    top: 6px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Path_16 {
    fill: rgba(255, 255, 255, 1);
    stroke: rgba(255, 255, 255, 1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Path_16 {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    overflow: visible;
    position: absolute;
    width: 49.941px;
    height: 52.922px;
    left: 0px;
    top: 5.5px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Icon_awesome-user-friends {
    fill: rgba(255, 255, 255, 1);
}

.Icon_awesome-user-friends {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    overflow: visible;
    position: absolute;
    width: 83.197px;
    height: 63.638px;
    left: 137.43px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transition: all 0.30000001192092896s linear;
    --web-animation: fadein 0.30000001192092896s linear;
    --web-action-type: page;
    cursor: pointer;
}

#Rectangle_403 {
    fill: transparent;
}

.Rectangle_403 {
    position: absolute;
    overflow: visible;
    width: 50px;
    height: 45px;
    left: 262px;
    top: 644px;
    transition: all 0.30000001192092896s linear;
    --web-animation: fadein 0.30000001192092896s linear;
    --web-action-type: page;
    cursor: pointer;
}

#Title_PLATFORMMOBILETAGH4_hl {
    left: 106px;
    top: 731.5px;
    position: absolute;
    overflow: visible;
    width: 217px;
    white-space: nowrap;
    line-height: 36px;
    margin-top: -3px;
    text-align: center;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: rgba(251, 6, 72, 1);
}